.btnMenu{
  display: block;  
  background-repeat: no-repeat;
  background-position: 10px center;
  text-indent: -9999px;
  padding: 15px 15px;
}

.btnMenu_open{
  background-image: url(../images/bars-solid.svg);
  margin: 0 auto;
}

.btnMenu_close{
  background-image: url(../images/bars-solid-black.svg);  
  background-color: #f87c1c;
}