.wrap-menu{
    background-color: #242424;
}
.wrap-menu a{
    cursor: pointer;
    color: #fff;
}

.hidden{
    overflow: hidden;
}

.menu_open{
    transform: translateX(0);
    position: fixed;
    z-index: 99999999;
    background-color: #313638;
    width: 100%;
    height: 100%;
}

.menu-item{
    border-bottom: 1px solid #ff801e;
    text-align: center;
    padding: 20px 15px;
    background-color: #313638;
}

.menu-item-action{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: All .3s;
}

.menu-item-action:hover{
    color: rgb(175, 175, 175);
}

