@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');

*::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #8a2be2;
  }
  body::-webkit-scrollbar-thumb{
      border: 1px solid;
  }

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html, body{
    background: #111;
    width: 100%
}

ul, ol, li{
    list-style: none;
}

.nav-links a{
    color: #fff;
}

.center{
    margin: 0 auto;
}

.maxwidth{
    margin: 0 auto;
    width: 100%
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 50px 100px;
    gap: 30px;
}

.whats{
    top: auto;
    bottom: 30px;
    right: 20px;
    left: auto;
    position: fixed;
    z-index: 9999999;
    display: block;
}

.whats-span{
    height: 65px;
    width: 65px;
    background: #16cc10;
    line-height: 65px !important;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 20%) 0 0 20px 10px;
}

.banner{
    height: 100vh;
}

.banner:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    pointer-events: none;
}

.banner .textbox{
    position: relative;
    max-width: 550px;
    z-index: 0;
}

.banner .textbox h2{
    color: #fff;
    font-size: 3em;
}

.banner .textbox p{
    color: #fff;
    font-size: 1.1em;
    margin: 5px 0 25px;
}

.banner .textbox a{
    position: relative;
    display: inline-block;
    background: #fff;
    color: #111;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.2s;
}

.banner #where{
    position: relative;
    display: inline-block;
    background: transparent;
    border: 1px solid white;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.2s;
}

.banner #where:hover{
    background-color: rgb(248, 57, 24);
}

.banner .textbox a:hover{
    background-color: rgb(235, 202, 20);
}

.banner .Videobox{
position: relative;
background: #fff;
margin-left: 40px;
width: 100%;
height: 400px;
z-index: 1;  
}

.banner .Videobox video{
    opacity: 1;
}

.goal{
    background-color: #4B0082;
 }
 

.textbox2{
    position: relative;
    max-width: 550px;
    z-index: 2;
}

 .textbox2 h2{
    color: #fff;
    font-size: 3em;
}

 .textbox2 p{
    color: #fff;
    font-size: 1.1em;
    margin: 5px 0 25px;
}



.wrapper{
    background: #fff;
    max-width: 400px;
    border-radius: 15px 15px 10px 10px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    transition: all 0.2s cubic-bezier(0.68,-0.55,0.265,1.55);
    margin-block-start: 2em;
    margin-block-end: 2em;
}


.wrapper .head-text{
    line-height: 60px;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(left, #eb640a ,#eb792e);
}

.wrapper .chat-box{
    padding: 20px;
    width: 100%;
}

.chat-box .desc-text{
    color: #515365;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    font-weight: 500;
}

.chat-box form{
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 25px;
    border: 1px solid lightgray;
}

.chat-box form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.chat-box form .field:last-child{
    margin-bottom: 15px;
}

form .field input,
form .field button,
form .textarea textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    outline: none;
    border-radius: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .field input:focus,
form .textarea textarea:focus{
    border-color: #fc83bb;
}

form .field input::placeholder,
form .textarea textarea::placeholder{
    color: silver;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder{
    color: lightgray;
}

.chat-box form .textarea {
    height: 70px;
    width: 100%;
}

.chat-box form .textarea textarea{
    height: 100%;
    resize: none;
    font-size: 16px;
}

.chat-box form .field button{
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: -webkit-linear-gradient(left, #eb640a ,#eb792e);
    transition: all 0.3s ease;
}

.chat-box form .field button:focus:active{
    transform: scale(0.97);
}

.field img{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    opacity: 0;
}

.banner .sci{
position: absolute;
bottom: 20px;
letter-spacing: 35px;
display: flex;
justify-content: center;
align-items: center;
}

.banner .sci {
    list-style: none;
}

.banner .sci i{
    display: inline-block;
}

.banner .sci li i{
 transform: scale(0.5);
 filter: invert(1);
 transition: 0.5s; 
}

.banner .sci  i:hover{
   color: rgb(35, 83, 228);
}

.faq{
    background-color: #e53c41;
}



.accordion{
    width: 600px;
}

.accordion-item{
    color: #fff;
    margin: 1rem 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25) ;
}

.accordion-item-header{
    background-color: #942121;
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accordion-item-header::after{
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after{
    content: "\002D";
}

.accordion-item-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.accordion-item-body-content{
    background-color: #521945;
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, 1);
}

.team{
    background-color: #0b7062;
    color: #fff;
}
.team .textbox{
    display: flex;
    width: 100%;
    justify-content: center;
}
.circle{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.person{
    display: flex;
    gap: 70px;
}

.text-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 15px
}

.contact{
    background-color:#e66b1b;
}

#titulo::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

#abc{
    position: absolute;
    transform: translate(0px , 4px);
}


/* RESPONSIVE */

@media (max-width: 1066px) 
{

    .banner{
       padding: 50px;
       flex-direction: column; 
       height: auto;
    }
    .banner:before{
        display: none;
    }
    .banner .textbox{
        max-width: 100%;
    }

    .banner .textbox h2{
        font-size: 2.5em;
    }
 
    .goal{
        padding: 50px;
        flex-direction: column; 
    }

    .goal .textbox2 h2{
        font-size: 2.5em;
    }

    .faq{
        padding:50px;
        flex-direction: column;
    }
    .faq .accordion{
        width: 100%
    }

    .team{
        padding: 50px;
        flex-direction: column;
    }

    .person{
        flex-direction: column;
        gap:30px
    }

    .contact{
        padding:50px;
        flex-direction: column;
    }

    .textbox2{
        max-width: 100%;
    }

    .textbox2 h2{
        text-align: center;
    }

    #where{
        margin-top: 10px;
    }

    .banner .Videobox{
        width: 100%;
        margin: 40px 0 0;
    }
    .banner .sci{
        left: 50px;
    }

    .parent-tab{
        width: 250px;
    }

    .accordion .parent-tab label{
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border-radius: 3px;
        position: relative;
        z-index: 99;
    }
    
    .accordion label .icon{
        left: 10px;
    }

}



@media (max-width: 500px){
    .banner .Videobox{
        width:100%;
        height: 200px;
    }
}
