@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html, body{
    background: #111;
    width: 100%
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
}

header .logo, i{
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1;
    text-decoration: none;
}

.center{
    margin: 0 auto;
}

.maxwidth{
    margin: 0 auto;
    width: 100%
}

.nav__links{
    list-style: none;
}

.nav__links li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a{
    color: #fff;
    transition: 0.2s;
}

.nav__links li a:hover{
    color: rgb(255, 73, 41);
}

.banner{
   position: relative;
   width: 100%;
   min-height: 100vh;
   padding: 0 100px;
   display: flex;
   justify-content: flex-start;
   align-items: center; 
}

.banner:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    pointer-events: none;
}

.banner .textbox{
    position: relative;
    max-width: 550px;
    z-index: 2;
}

.banner .textbox h2{
    color: #fff;
    font-size: 3em;
}

.banner .textbox p{
    color: #fff;
    font-size: 1.1em;
    margin: 5px 0 25px;
}

.banner .textbox a{
    position: relative;
    display: inline-block;
    background: #fff;
    color: #111;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.2s;
}

.banner #where{
    position: relative;
    display: inline-block;
    background: transparent;
    border: 1px solid white;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.2s;
}

.banner #where:hover{
    background-color: rgb(255, 73, 41);
}

.banner .textbox a:hover{
    background-color: rgb(53, 100, 240);
}

.banner .Videobox{
position: relative;
background: #fff;
margin-left: 40px;
width: 100%;
height: 400px;
z-index: 1;  
}

.banner .Videobox video{
    opacity: 1;
}

.goal{
    background-color: #B91372;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
 }
 

.textbox2{
    position: relative;
    max-width: 550px;
    z-index: 2;
}

 .textbox2 h2{
    color: #fff;
    font-size: 3em;
}

 .textbox2 p{
    color: #fff;
    font-size: 1.1em;
    margin: 5px 0 25px;
}



.wrapper{
    position: flex;
    background: #fff;
    max-width: 400px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    transition: all 0.2s cubic-bezier(0.68,-0.55,0.265,1.55);
}


.wrapper .head-text{
    line-height: 60px;
    color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}

.wrapper .chat-box{
    padding: 20px;
    width: 100%;
}

.chat-box .desc-text{
    color: #515365;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    font-weight: 500;
}

.chat-box form{
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 25px;
    border: 1px solid lightgray;
}

.chat-box form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.chat-box form .field:last-child{
    margin-bottom: 15px;
}

form .field input,
form .field button,
form .textarea textarea{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border: 1px solid lightgrey;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .field input:focus,
form .textarea textarea:focus{
    border-color: #fc83bb;
}

form .field input::placeholder,
form .textarea textarea::placeholder{
    color: silver;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder{
    color: lightgray;
}

.chat-box form .textarea {
    height: 70px;
    width: 100%;
}

.chat-box form .textarea textarea{
    height: 100%;
    border-radius: 50px;
    resize: none;
    padding: 15px 20px;
    font-size: 16px;
}

.chat-box form .field button{
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    transition: all 0.3s ease;
}

.chat-box form .field button:focus:active{
    transform: scale(0.97);
}

.banner .sci{
position: absolute;
bottom: 20px;
letter-spacing: 35px;
display: flex;
justify-content: center;
align-items: center;
}

.banner .sci {
    list-style: none;
}

.banner .sci i{
    display: inline-block;
}

.banner .sci li i{
 transform: scale(0.5);
 filter: invert(1);
 transition: 0.5s; 
}

.banner .sci  i:hover{
   color: rgb(35, 83, 228);
}


.faq{
    background-color: #1B1725;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

.accordion{
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;
  
}

.accordion .parent-tab{
    margin-top: 20px;
    margin-bottom: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}

.accordion .parent-tab label{
    background: #534B62;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    z-index: 99;
}

.accordion label span{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0 -1px 1px #0056b3;
}

.accordion label .icon{
    position: relative;
    height: 30px;
    width: 30px;
    color: black;
    font-size: 15px;
    display: block;
    border-radius: 50%;

}

.parent-tab input:checked ~ label .icon i:before{
    content: '\f068';
}
.accordion label .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accordion .parent-tab .content{
    background-color: #fff;
    color: black;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.parent-tab input:checked ~ .content{
    max-height: 100vh;
    overflow: hidden;
}
.accordion .parent-tab .content p{
    font-size: 16px;
    padding: 15px 20px;
}

.accordion input{
    display: none;
}


/* RESPONSIVE */

@media (max-width: 1365px) 
{
    header{
        padding: 20px 50px;
        justify-content: center;
    }

    .nav__links{
        padding: 20px 50px;
        width: 100%; 
        display: flex;     
    }

    .banner{
       padding: 150px 50px 0;
       flex-direction: column; 
    }
    .banner:before{
        display: none;
    }
    .banner .textbox{
        max-width: 100%;
    }

    .banner .textbox h2{
        font-size: 2.5em;
    }
 
    .goal{
        padding: 150px 50px 0;
        flex-direction: column; 
    }

    .goal .textbox2 h2{
        font-size: 2.5em;
    }

    .textbox2{
        max-width: 100%;
    }

    #where{
        margin-top: 10px;
    }

    .banner .Videobox{
        width: 100%;
        margin: 40px 0 100px;
    }
    .banner .sci{
        left: 50px;
    }

    .parent-tab{
        width: 250px;
    }

    .accordion .parent-tab label{
        background: #534B62;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border-radius: 3px;
        position: relative;
        z-index: 99;
    }
    
    .accordion label .icon{
        left: 10px;
    }

}



@media (max-width: 500px){
    .banner .Videobox{
        width:100%;
        height: 200px;
    }
}
