@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html, body{
    background: #111;
    width: 100%
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
}

header .logo, i{
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1;
    text-decoration: none;
}

.center{
    margin: 0 auto;
}

.maxwidth{
    margin: 0 auto;
    width: 100%
}

.nav__links{
    list-style: none;
}

.nav__links li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a{
    color: #fff;
    transition: 0.2s;
}

.nav__links li a:hover{
    color: rgb(255, 73, 41);
}

.banner{
   position: relative;
   width: 100%;
   min-height: 100vh;
   padding: 0 100px;
   display: flex;
   justify-content: flex-start;
   align-items: center; 
}

.banner:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    pointer-events: none;
}

.banner .textbox{
    position: relative;
    max-width: 550px;
    z-index: 2;
}

.banner .textbox h2{
    color: #fff;
    font-size: 3em;
}

.banner .textbox p{
    color: #fff;
    font-size: 1.1em;
    margin: 5px 0 25px;
}

.banner .textbox a{
    position: relative;
    display: inline-block;
    background: #fff;
    color: #111;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.2s;
}

.banner #where{
    position: relative;
    display: inline-block;
    background: transparent;
    border: 1px solid white;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.2s;
}

.banner #where:hover{
    background-color: rgb(255, 73, 41);
}

.banner .textbox a:hover{
    background-color: rgb(53, 100, 240);
}

.banner .Videobox{
position: relative;
background: #fff;
margin-left: 40px;
width: 100%;
height: 400px;
z-index: 1;  
}

.banner .Videobox video{
    opacity: 1;
}

.goal{
    background-color: #B91372;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
 }
 

.textbox2{
    position: relative;
    max-width: 550px;
    z-index: 2;
}

 .textbox2 h2{
    color: #fff;
    font-size: 3em;
}

 .textbox2 p{
    color: #fff;
    font-size: 1.1em;
    margin: 5px 0 25px;
}

.banner .sci{
position: absolute;
bottom: 20px;
letter-spacing: 100px;
display: flex;
justify-content: center;
align-items: center;
}

.banner .sci {
    list-style: none;
}

.banner .sci i{
    display: inline-block;
    margin-right: 15px;

}

.banner .sci li i{
 transform: scale(0.5);
 filter: invert(1);
 transition: 0.5s; 
}

.banner .sci  i:hover{
   color: rgb(35, 83, 228);
}

/* RESPONSIVE */

@media (max-width: 1365px) 
{
    header{
        padding: 20px 50px;
        justify-content: center;
    }

    .nav__links{
        padding: 20px 50px;
        width: 100%; 
        display: flex;     
    }

    .banner{
       padding: 150px 50px 0;
       flex-direction: column; 
    }
    .banner:before{
        display: none;
    }
    .banner .textbox{
        max-width: 100%;
    }
    .banner .textbox h2{
        font-size: 2.5em;
    }

    .nav__links li a{
        display: inline;
    }

    #where{
        margin-top: 10px;
    }

    .banner .Videobox{
        width: 100%;
        margin: 40px 0 100px;
    }
    .banner .sci{
        left: 50px;
    }
}

@media (max-width: 500px){
    .banner .Videobox{
        width:100%;
        height: 200px;
    }
}
