<!Doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="/images/logo-short.png">

    <link rel="stylesheet" href="Css/styles.css">
    <link rel="stylesheet" href="Css/btnMenu.css">
    <link rel="stylesheet" href="Css/menu.css">
    <link rel="stylesheet" href="Css/footer.css">
    <link  rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>

    <script src="https://kit.fontawesome.com/5c13289023.js" crossorigin="anonymous"></script>
    <script src="Js/accordion.js" defer></script>
    <script src="Js/typewriter.js" async></script>

    <title>Tyros</title>
</head>
<body class="center" data-aos-easing="slide" data-aos-duration="1000" data-aos-delay="0">
        <nav>
            <div class="wrap-menu">
                <div class="btnMenu ">
                    <a class="btnMenu_open">Menu</a>
                    <ul class="menu-active">
                        <li><a href="#fazemos" class="effect-under">O que fazemos?</a></li>
                        <li><a href="#servicos" class="effect-under">Serviços</a></li>
                    </ul>
                    <a href="index.html" class="center_header">TYROS</a>
                    <ul class="menu-active">
                        <li><a href="#equipe" class="effect-under">Equipe</a></li>
                        <li><a href="#faq" class="effect-under">FAQ</a></li>
                        <li><a href="#contato" class="effect-under">Contato</a></li>
                    </ul>
                </div>
    
                <ul id="menu" class="menu">
                    <div>
                        <li class="li_close"><a style="width:0" class="btnMenu_close">Sair</a></li>
                    </div>
                    <div class="menu-item-close">
                        <li class="menu-item">
                            <a href="#equipe" class="menu-item-action menuClose">Equipe</a>
                            </li>
            
                            <li class="menu-item">
                                <a href="#fazemos" class="menu-item-action menuClose">O que fazemos?</a>
                            </li>
            
                            <li class="menu-item">
                                <a href="#faq" class="menu-item-action menuClose">FAQ</a>
                            </li>
            
                            <li class="menu-item">
                                <a href="#contato" class="menu-item-action menuClose">Contato</a>
                            </li>
                    </div>
                </ul>
            </div>
        </nav>
    <div class="maxwidth center">
        <div class="banner container">
            <img src="Videos/giftyros.gif" class="fullvideo">
            <div class="textbox" data-aos="fade-up">
                <h2 id="titulo">Sobre a Tyros</h2>
                <p>A Tyros é uma empresa que desenvolve soluções de TI como softwares, sites e infraestrutura para pessoas físicas e jurídicas, e por prezarmos pela empatia e compreensão de nossos clientes, disponibilizamos diversos tipos de planos que cabem no seu orçamento.</p>
                

                <a href="#">Saiba mais</a>
                <a id="where" href="#">Entrar em contato</a>
            </div>
    
        </div>

        <div id="fazemos" class="goal container">
            <div class="textbox2" data-aos="fade-right">
            <h2>O que fazemos</h2>
            </div>
            <div class="textbox2" data-aos="fade-up">
                <p>Desenvolvemos sites e sistemas de acordo com a necessidade de nossos clientes.
                    Sempre alinhando o que você precisa com a melhor estratégia, e assim apresentamos todo escopo do projeto e o seu orçamento.
                </p>
                <p>
                    Utilizando tecnologias de desenvolvimento mais modernas do mercado, no seu projeto estaremos colocando a modernidade
                     e funcionalidade em primeiro lugar.
                </p>
                <p>
                    Buscando sempre a satisfação de nossos clientes, oferecemos diversas opções que seja de acordo com seu orçamento. 
                    Se você deseja um site mas está com um orçamento curto, temos opções de sites Single Page onde todas
                    as informações ficarão em um único lugar (como esta página) e assim você e sua empresa terão
                     visibilidade em uma página bonita, funcional e responsiva (adaptada para todos tipos de dispositivos).
                </p>
            </div>
        </div>

        <div id="servicos" class="services container">
            <div class="textbox2" data-aos="fade-right">
            <h2>Serviços</h2>
            </div>
            <div class="cards-container">
                <div class="card" data-aos="flip-left" data-aos-duration="1500">
                    <div class="box">
                        <div class="content">
                            <div class="title-card">
                                <h3>MARKETING</h3>
                            </div>
                            <div class="text-card">
                                <p> Ao ter um site, você dá mais visibilidade ao seu negócio.
                                    Aplicamos diversas técnicas de SEO, para que seu site sempre esteja no topo das pesquisas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" data-aos="flip-right" data-aos-duration="1500">
                    <div class="box">
                        <div class="content">
                            <div class="title-card">
                                <h3>ENTREGA</h3>
                            </div>
                            <div class="text-card">
                                <p> Após adquirir um de nossos serviços, você irá receber o prazo para que seja entregue. 
                                    Também iremos te passar todo o progresso,
                                     para que você saiba sempre como está o andamento do seu projeto.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" data-aos="flip-left" data-aos-duration="1500">
                    <div class="box">
                        <div class="content">
                            <div class="title-card">
                                <h3>PREÇOS</h3>
                            </div>
                            <div class="text-card">
                                <p> Oferecemos ótimo custo-benefício, por cobrarmos valores menores em relação ao mercado de 
                                    desenvolvimento com proposta do mesmo, ou até, maior valor.  </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" data-aos="flip-right" data-aos-duration="1500">
                    <div class="box">
                        <div class="content">
                            <div class="title-card">
                                <h3>DESIGN ÚNICO</h3>
                            </div>
                            <div class="text-card">
                                <p> Aplicações originais e criativas, 
                                    com as personalizações de acordo com seu negócio.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mission container">
            
        </div>

    <div id="equipe" class="team container">
        <div class="textbox2" data-aos="fade-right">
            <h2>Nossa Equipe</h2>
        </div>
        <div class="person">
            <div class="text-img" data-aos="fade-right" data-aos-duration="1500">
                <span class="circle">
                    <img src="images/moreira.jpg" alt="ADVOGADO PALOMA">
                </span>
                <h2>Hitallo Moreira - CTO</h2>
                <p>Desenvolvedor WEB formado em Harvard e no MIT</p>
            </div>
            <div class="text-img" data-aos="fade-right" data-aos-duration="1500"> 
                <span class="circle">
                    <img src="images/luquinhas.jpg" alt="ADVOGADO PALOMA">
                </span>
                <h2>Mohamed dos Santos - CEO</h2>
                <p>Empresário desde que nasceu, Desenvolvedor WEB e BackEnd formado pelo Enildo</p>
            </div>
            <div class="text-img" data-aos="fade-right" data-aos-duration="1500">
                <span class="circle">
                    <img src="images/advogado.jpg" alt="ADVOGADO PALOMA">
                </span>
                <h2>Lucas Coutinho - COO</h2>
                <p>Fez Redes no SENAI</p>
            </div>
        </div>
    </div>
    <div id="faq" class="faq container">
        <div class="textbox2" data-aos="fade-right"><h2>FAQ</h2><p>Perguntas Frequentes</p></div>
        <div class="accordion" data-aos="fade-up">
                <!-- menu 1 --> 
                <div class="accordion-item">
                    <div class="accordion-item-header">
                        Qual é o prazo para que o projeto seja entregue?
                    </div>  

                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            O prazo estipulamos por meio do contato, pois vai de acordo com a necessidade de cada cliente.
                             Para sites de pequeno porte (por exemplo, sites apenas informativos) damos um prazo de até uma semana.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item-header">
                        O serviço de suporte está incluso nos pacotes?
                    </div>  

                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            Sim, nossa equipe terá a prontidão de conseguir te dar todo o suporte necessário todos os dias das 10h às 01h.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">
                        Não gostei do sistema/site, tenho direito ao reembolso?
                    </div>  

                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            Em casos da compra de um sistema ou site, o cliente terá até 30 dias após a entrega do projeto
                             para solicitar o cancelamento de compra e receber o reembolso.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item-header">
                        Como posso realizar o pagamento do projeto?
                    </div>  

                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            O pagamento poderá ser realizado em três meios: depósito identificado, transferência bancária ou pagamento online por 
                            cartão de crédito, cartão de débito ou boleto bancário.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item-header">
                        Tenho um comércio e gostaria de ter um sistema para administrar, mas não tenho nenhum equipamento de informática.
                         Necessito fazer a montagem de equipamentos antes de entrar em contato?
                    </div>  

                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            Não se preocupe, daremos todo o suporte para que tenha o funcionamento correto.
                             Nossa equipe realiza o orçamento da infraestrutura necessária e caso o cliente aceite, fazemos todas as aquisições
                              e montagem dos equipamentos.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item-header">
                        Quando receber o sistema como posso acessá-lo?
                    </div>  

                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            Assim que iniciar o sistema ele irá solicitar um login e senha, ambos serão enviados previamente no email do cliente.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item-header">
                        O que acontece caso eu atrase o pagamento da mensalidade via boleto?
                    </div>  

                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            Serão cobrados multa e juros, e caso o atraso passe o prazo de 7 dias úteis o site/sistema será desligado.
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div id="contato" class="contact container">
        <div class="textbox2" data-aos="fade-right">
            <h2>Contato</h2>
            <p>Entre em contato conosco para fazer o seu orçamento ou tirar dúvidas, nossa equipe entrará em contato de volta em até 1 hora</p>
        </div>
        
        <div class="wrapper" data-aos="fade-up" data-aos-duration="1500">
            <div class="head-text">Formulário para contato</div>
            <div class="chat-box">
                <div class="desc-text">Por favor certifique-se que todos os campos estão preenchidos antes de enviar.</div>
                <form id="formulario">
                    <div class="field">
                        <input id="name" type="text" placeholder="Nome completo" name="nome" required>
                    </div>

                    <div class="field">
                        <input id="email" type="email" placeholder="Email" name="email" required>
                    </div>

                    <div class="field">
                        <input id="tel" type="text" class="telefone" placeholder="(11)11111-1111" name="tel" required>
                    </div>

                    <div class="field">
                        <input id="Assunto" type="text" placeholder="Assunto" name="assunto" required>
                    </div>

                    <div class="field textarea">
                        <textarea id="text" cols="30" rows="10" placeholder="Qual é a sua idéia?" name="texto" required></textarea>
                    </div>

                    <div class="field">
                        <button type="submit" id="butao"><a id="abc">Enviar</a><img id="logo" src="images/logo.png"></img></button>
                    </div>

                    <div class="field2">
                        <svg id="certo" width="37" height="30" viewBox="0 0 37 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="linha" d="M3.0 12L14 22L33 1" stroke="green" stroke-width="5" stroke-linecap="round"/>
                        </svg> 
                    </div>

                </form>      
            </div>
        </div>
    
        <script></script>
<!--         <script>
            //fazer o botão diminuir
            anime({
                targets: '#butao',
                width: '100px', // -> from '28px' to '100%',
                easing: 'linear',
                loop: false,
                begin: function(){
                    anime({
                        targets: "#logo",
                        easing: 'linear',
                        translateY: -10,
                        translateX: 0,
                    });
                },
                //fazer o texto sumir
                complete: function(){
                    anime({
                            targets:"#abc",
                            direction: 'normal',
                            easing: 'easeOutQuad',
                            opacity: 0,
                            //fazer o logo aparecer
                            complete: function(){
                                anime({
                                    targets:"#logo",
                                    opacity: 1,
                                    //fazer o logo girar
                                    begin: function(){
                                        anime({
                                            targets:"#logo",
                                            rotate: '1turn',
                                            easing: 'linear', 
                                            loop: true,
                                        });
                                    }
                                });
                            }
                    });
                }
            });

            

            //Fazer a caixa tremer
            /*anime({
                targets:".wrapper",
                keyframes:[
                    {translateX: 15},
                    {translateX: -15},
                    {translateX: 15},
                    {translateX: -15},
                    {translateX: 0},
                ],
                easing: 'easeOutElastic(2, .8)',
                duration: 300
            });*/
            function depois(){
                anime({
                    targets:'#logo',
                    opacity: 0,
                    easing: 'cubicBezier(0.625, 0.105, 0.750, 0.750)',
                    begin: function(){
                        anime({
                            targets:'#certo',
                            translateY: '-130%',
                        });
                    },
                    complete: function(){
                        anime.remove('#logo');
                        anime({
                            targets:'.linha',
                            strokeDashoffset: [anime.setDashoffset, 0],
                            opacity: 1,
                            direction: 'linear',
                            easing: 'cubicBezier(0.625, 0.105, 0.750, 0.750)'
                        });
                    }
                });    
            }

            setTimeout(depois, 8000);
        // Não mexe aqui porra
        </script> -->
    </div>
    <div class="whats">
        <a target="_blank" 
        href="https://api.whatsapp.com/send?phone=5511964251185&text=Eai%20meu%20querido%2C%20como%20est%C3%A1%3F">
        <span class="fab fa-whatsapp whats-span"></span></a>
    </div>

     <footer>
        <div class="main-content">
          <div class="left box">
            <h2>Sobre nós</h2>
            <div class="content-2">
                <h4 class="p-2">
                 A Tyros foi criada em 2020 com o intuito de desenvolver soluções em TI, desenvolvendo sistemas e sites para pessoas que necessitam
                  do melhor auxílio com o avanço da tecnologia a cada dia que passa
                </h4>
                  <div class="social">
                    <h2>
                        Nossas redes sociais:
                    </h2>
                    <div>
                        <a target="_blank" href="https://www.facebook.com/blogstorm"><span class="fab fa-facebook-f"></span></a>
                        <a target="_blank" href="https://www.instagram.com/_blog_storm/"><span class="fab fa-instagram"></span></a>
                    </div>
                  </div>
            </div>
          </div>
          <div class="center box">
            <h2>Contato</h2>
            <div class="content-2">
    
              <div class="phone">
                <span class="fas fa-phone-alt"></span>
                <span class="text">(11)96425-1185</span>
              </div>
    
              <div class="email">
                <span class="fas fa-envelope"></span>
                <span class="text">tyrossoftwares@gmail.com</span>
              </div>
            </div>      
          </div>
    
          <div class="right box">
            <h2>Localização de nosso escritório</h2>
            <div class="content-2">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Rua Engenheiro Aubertin, Nº 290, Lapa de Baixo, São Paulo - SP</span>
                  </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.4977518436244!2d-46.706040285544304!3d-23.51459336575077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef85dfa3a87e1%3A0xef2791a4329b9f5d!2sR.%20Eng.%20Aubertin%2C%20290%20-%20Lapa%20de%20Baixo%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005068-070!5e0!3m2!1spt-BR!2sbr!4v1610213501827!5m2!1spt-BR!2sbr" width="400" height="380" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>         
            </div>
          </div>
        </div>
        <div class="bottom">
          <center>
            <div class="credit">
              <span>Desenvolvido por: <a>Tyros</a> | 
              <span class="far fa-copyright"></span> <span>2020 Todos os direitos reservados.</span>
              </span>
            </div>
          </center>
        </div>
      </footer>
      <script src="Js/animation.js"></script>
      <script src = "https://unpkg.com/aos@next/dist/aos.js"></script> 
      <script> 
        AOS.init(); 
      </script>
</body>
<script src='https://codepen.io/juliangarnier/pen/75efae7724dbc3c055e918057fc4aca5.js'></script> 
<!--<script src="teste/animation.js"></script>-->

<script src="Js/btnMenu.js"></script>
<script src="Js/jquery.js"></script>
<script>
$("a").click(function () {
  console.log(this);
  $('html, body').animate({
      scrollTop: ($(this.hash).offset().top)
  }, 800)
})
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script>
    jQuery("input.telefone")
        .mask("(99) 9999-9999?9")
        .focusout(function (event) {  
            var target, phone, element;  
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;  
            phone = target.value.replace(/\D/g, '');
            element = $(target);  
            element.unmask();  
            if(phone.length > 10) {  
                element.mask("(99) 99999-999?9");  
            } else {  
                element.mask("(99) 9999-9999?9");  
            }  
        });
</script>
</html>
